<section class="section1" ng-class="{ 'searching bounce': $index == searching }">
    <div class="row no-margin">
        <div class="col-md-12 text-center">
            <h1 class="no-margin">Temukan Tender</h1>

            <span class="random-text"> Pariwisata , Legal , Industri , Wisata , Kimia </span>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="wrapper__input--search">
                        <input type="text" ng-change="search()" ng-model="text" name="text" class="form-control" placeholder="Nama Pekerjaan / Lokasi Pekerjaan / Agensi"/>
                        <input type="submit" id="submit" value="?" class="btn btn-default btn--search fa" />
                    </div>
                </div>
            </div>
        </div>

        <div class="section2 container">
            <ul class="list-unstyled listdown-tender">
                <li>
                    Sekitar <strong>{{ count.length }}</strong> dari hasil pencarian <key ng-bind-html="list"></key>
                </li>
                <li class="item" ng-repeat="tender in tenders | filter:text as count">
                    <a href="#/tender/{{$index}}">{{ tender.title }}</a>
                    <p>Agensi: <a href="{{ tender.url }}">{{ tender.author }}</a></p>
                    <p>Batas Upload Dokumen Penawaran: Dalam 6 hari, 13 Januari 2016</p>
                    <p>Penandatanganan Kontrak: Dalam 31 hari, 07 Februari 2016</p>
                    <p>Tahap saat ini: Pengumuman Pascakualifikasi, Download Dokumen Pengadaan</p>
                </li>
            </ul>
        </div>
    </div>
</section>
